# {{ ansible_managed }}. role: {{ role_name }}, template: apache-http-site.conf.j2

<VirtualHost {{ item.host }}:{{ item.exposed_port | default(80) }}>
    ServerName {{ item.servername }}
    DocumentRoot {{ item.web_root }}
</VirtualHost>
