# {{ ansible_managed }}. role: {{ role_name }}. template: apache-remoteip.conf.j2

<IfModule remoteip_module>
    RemoteIPHeader X-Real-IP
    RemoteIPInternalProxy {{ item.remote_ip_internal_proxy }}
</IfModule>
