# {{ ansible_managed }}. role: {{ role_name }}. template: apache-remoteip.conf.j2

<IfModule remoteip_module>
    RemoteIPHeader X-Real-IP
{% if item.remote_ip_internal_proxy is defined %}
{% for proxy in item.remote_ip_internal_proxy %}
    RemoteIPInternalProxy {{ proxy }}
{% endfor %}
{% endif %}
</IfModule>
